* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: min(92.5925925925926vh, 52.08333333333333vw);
}

li {
  display: block;
  float: left;
  width: 20%;
  padding-top: 20%;
}

button {
  font: inherit;
}

#floor {
  background: #e2e3de;
  box-shadow: inset 15px 15px 25px rgba(0, 0, 0, 0.0114),
    inset -15px -15px 25px rgba(255, 255, 255, 0.228);
}

#elevation {
  box-shadow: inset 15px 15px 25px rgba(0, 0, 0, 0.0114),
    inset -15px -15px 25px rgba(255, 255, 255, 0.228);
  background: linear-gradient(transparent 9%, gray 0, gray 10%, transparent 0, transparent 90%, gray 0, gray 91%, transparent 0),
    radial-gradient(transparent 10%, black 0, black 11%, #e2e3de 0),
    conic-gradient(black .25turn, yellow 0, yellow .5turn, black 0, black .75turn, yellow 0);;
}

#limitedFloor {
  background: #43423e;
  box-shadow: inset 15px 15px 25px rgba(0, 0, 0, 0.228),
    inset -15px -15px 25px rgba(255, 255, 255, 0.0114);
}

#limitedElevation {
  background: #43423e;
  box-shadow: inset 15px 15px 25px rgba(0, 0, 0, 0.228),
    inset -15px -15px 25px rgba(255, 255, 255, 0.0114);
}
