<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
					package="io.github.salenzo.myapplication">

	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

	<uses-feature
		android:name="android.hardware.bluetooth"
		android:required="true"/>
	<uses-feature
		android:name="android.hardware.sensor.gyroscope"
		android:required="true"/>
	<uses-feature
		android:name="android.hardware.sensor.accelerometer"
		android:required="false"/>

	<application
		android:allowBackup="false"
		android:label="迫真应用"
		android:supportsRtl="false"
		android:theme="@style/AppStyle" android:icon="@android:drawable/ic_media_play">
		<service
			android:name=".MyService"
			android:enabled="true"
			android:exported="false">
		</service>
		<activity
			android:name=".SelectDeviceActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
